<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>00-helloshader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>00-helloworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>01-cubes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-raymarch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-instancing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05195BA01CEBA2F1002941B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>052744D41CCD66BC00E821CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>052F1D3A1D709C9B0080E5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>052F1D421D709C9C0080E5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>055B3D411CC6B77B005B38C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0580769B1CC2B0D600C43477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CCC0861D6BCD60004ED10F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05E607E71D67D260000CE52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05EAF8791CE81C52002DFF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
